<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ location.title }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <dl class="list">
        <dt>Opis</dt>
        <dd>{{ location.description }}</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/location-edit', location._id]" class="btn btn-success">Edytuj</a>
      <button class="btn btn-danger" type="button" (click)="deleteLocation(location._id)">Usun</button>
    </div>
  </div>
</div>
